<h1 class="heading">CHANGE PASSWORD</h1>
<div class="form-body">
  <%= form_for @admin_user,url: update_password_admin_admin_user_path, method: :post,html: {id: "change-password"} do |f|%>  
    <div class="form-group">
      <div class="row">
        <label class="col-sm-4"> Old Password  </label>
        <div class="col-sm-8">
          <%= f.password_field :old_password, class: "form-control custom-control", required: true, placeholder: "",autocomplete: "off"%>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
          <label class="col-sm-4"> New Password  </label>
          <div class="col-sm-8">
            <%= f.password_field :new_password, class: "form-control custom-control", required: true, placeholder: "",autocomplete: "off"%>
          </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <label class="col-sm-4"> Confirm Password  </label>
        <div class="col-sm-8">
          <%= f.password_field :confirm_password, class: "form-control custom-control", required: true, placeholder: "",autocomplete: "off"%>
        </div>
      </div>
    </div>
   
    <div class="update-btn text-center">
      <button class="btn btn-success btn-common" type="submit">Update</button>
      <%= link_to 'Cancel', admin_users_path, class: "btn btn-danger btn-common" %>
    </div>

    </div>
  <%end%>    
</div>