<h1 class="heading">NEXAMIND ANALYTICS</h1>
<div class="info-box-block">
  <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-green">
              <legend>Total Active Customers</legend>
              <div class=" info-txt">
                    <p><%= User.where(status: 1).count %></p>
                     <!-- <a href="/admin/users" class="btn btn-red"> View Details </a> -->
              </div>
            </fieldset>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-green">
              <legend>Total Customers</legend>
              <div class=" info-txt">
                    <p><%= User.count %></p>
                     <!-- <a href="/admin/stores" class="btn btn-red"> View Details </a> -->
              </div>
            </fieldset>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-green">
              <legend>Total Revenue</legend>
              <div class=" info-txt">
                    <p><%= Store.count %></p>
                     <!-- <a href="/admin/products" class="btn btn-red"> View Details </a> -->
              </div>
            </fieldset>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-green">
              <legend>Total Transactions</legend>
              <div class=" info-txt">
                <p><%= Store.count %></p>
                <!-- <a href="#" class="btn btn-red"> View Details </a> -->
              </div>
            </fieldset>
          </div>
      </div>
   </div>
   
   
   <div class="row mt20">
      <div class="col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-yellow">
              <legend>Total</legend>
              <div class=" info-txt">
                <%#= line_chart {"Football" => 10, "Basketball" => 5},colors: ["#169BD5"] %>
                <%= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"]
] %>
              </div>
            </fieldset>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-green">
              <legend>Total</legend>
              <div class=" info-txt">
                <%#= pie_chart User.group(:gender).count,colors: ["#169BD5","#f82323"] %>
              </div>
            </fieldset>
          </div>
      </div>
   </div>
    <div class="row mt20">
      <div class="col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-yellow">
              <legend>Totals</legend>
              <div class=" info-txt">
                <%#= line_chart Message.group_by_day(:created_at).count,colors: ["#169BD5"] %>
              </div>
            </fieldset>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="info-box ">
            <fieldset class="global-fieldset bg-green">
              <legend>Total</legend>
              <div class=" info-txt">
                <%#= line_chart Post.group_by_day(:updated_at).count,colors: ["#169BD5"] %>
              </div>
            </fieldset>
          </div>
      </div>
   </div>
</div>
              