<div class="right-inner">

<h1 class="heading"> POST DETAIL</h1>
  <div class="form-show-body">
      <form>
       <%if @post.title.present?%>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-2"> Post Title  </label>
            <div class="col-sm-8">
              <%= @post.try(:title) %>
            </div>
          </div>
        </div>
       <%end%>
        
        <div class="form-group">
          <div class="row">
            <label class="col-sm-2">Post Created On </label>
            <div class="col-sm-8">
              <%= @post.created_at.strftime("%d %B, %Y %I:%M %p") %>
          </div>
        </div>
      </div>
        
        <div class="form-group">
          <div class="row">
            <label class="col-sm-2">Post Created by </label>
            <div class="col-sm-8">
             <%= @post.user.name%>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2">Post Reported by </label>
            <div class="col-sm-8">
             <%=   User.find_by(id: @report.user_id).name%>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <label class="col-sm-2">Reported Reason </label>
            <div class="col-sm-8">
              <%=  @report.reason %>
            </div>
          </div>
        </div>
        
        <div class="dress-changes-block list-block">
          <% if @post.post_images.present? %>
            <ul>
            <% @post.post_images.each do |image| %>
            <li>
              <div class="hair-block">
                <%= image.present? ? image_tag(image.try(:file).try(:url),:width => 400, :height => 300, :class => 'save_image_layout', :id=> "") : image_tag("/1.png",:width => 400, :height => 300, :class => 'save_image_layout') %>
               
              </div>
            </li>
           </ul>
           <% end %>
          <%end%>
        </div>
        <div class="update-btn text-center">
          <%= link_to 'BACK', admin_reports_path, class: "btn btn-danger btn-common" %>
        </div>
      </form>
    </div>
</div>  