 <h1 class="heading">USER MANAGEMENT</h1>
 <div class="filter-block">
 <fieldset class="global-fieldset">
    <legend>Filter By</legend>
    <div class="filter-content user-filter">
    <%= form_tag admin_users_path, method: :get do  %>
      <div class="row">
      <div class="col-sm-3">
          <div class="user-label">                              
           <div class="">
            <%=  text_field_tag :search, "", class:"form-control custom-control1" %>
           </div>                            
         </div>
       </div> 
         <div class="col-sm-3">
          <div class="user-label">
            <div class="">
              <%=  select_tag :status,options_for_select([["All",""],["Active",1],["Blocked",2]]), class:"form-control custom-control1" %>
          </div>
          </div>
        </div> 
        <div class="col-sm-3">
          <div class="user-label">
            <div class="">
              <%=  select_tag :gender,options_for_select([["All",""],["Male","male"],["Female","female"]]), class:"form-control custom-control1" %>
          </div>
          </div>
      </div>
       <div class="col-sm-3">
        <div class="text-left">
          <button class="btn btn-red">Search</button>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</fieldset>
</div>

<div class="box box-blue">
  <div class="box-body">
    <div class="custom-table table-responsive">
      <table class="table table-striped table-border">
        <thead>
          <tr>
            <th>User Image</th>
            <th>User Name</th>                            
            <th>Email </th>
            <th>Phone Number </th>
            <th>Gender </th>
            <th>Status </th>
            <th>Last Logged in </th>                                                        
            <th>Action</th>
          </tr>
        </thead>
        <%= "No user found." unless @users.present?%>
        <% @users.each do |user| %>
        <% unless user.eql?(nil) %>
        <tbody>
          <tr>
          <td><%= user.image.present? ? image_tag(user.image.try(:file_url),:width => 50, :height => 50, :class => 'news-content') : image_tag("/1.png",:width => 50, :height => 50, :class => 'news-content') %></td>
            <td><%= truncate(user.try(:name), omision: "...", length: 30) %></td>
            <td><%= truncate(user.try(:email), omision: "...", length: 30) %></td>
            <td><%= truncate(user.try(:mobile), omision: "...", length: 30) %></td> 
            <%if user.gender == "0"%>
              <td><%= "Male" %></td> 
            <%else%>
              <td><%= "Female" %></td>
            <%end%>
            <td><%#if user.status.eql?(0) || user.not_verified? %>
                    <%#='<i class = "btn-sm btn-danger"> Unverified</i>'.html_safe %>                                   
                  <%#elsif user.status.eql?(1) || user.verified? %>
                      <%#= '<i class = "btn-sm btn-success"> Active </i>'.html_safe %>
                  <%#else%>
                       <%#='<i class = "btn-sm btn-danger"> Blocked</i>'.html_safe %>             
                  <%#end%>
            </td>                               
            <td><%= user.last_sign_in_at ? user.last_sign_in_at.try(:localtime).try(:strftime, "%d %B, %Y %I:%M %p") : "N/A" %></td>                   
            <td>
              <div class="action-btn">
                <%#if user.status.eql?(1) || user.verified? %>
                <%#= link_to '<i class="fa fa-ban" aria-hidden="true"></i> Block'.html_safe,user_status_admin_users_path(:id => user.id), method: :post,:class=>"btn btn-sm btn-danger",:data => { :confirm => "Are you sure to block this user?" }%>
                <%#elsif user.status.eql?(2) || user.blocked? %>
                <%#= link_to '<i class="fa fa-check" aria-hidden="true"></i> Unblock'.html_safe,user_status_admin_users_path(:id => user.id), method: :post,:class=>"btn btn-sm btn-primary",:data => { :confirm => "Are you sure to activate this user?" }%>
                <%#end%>    
                <a><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> View'.html_safe, admin_user_path(id: user.id), :class=>"btn btn-sm btn-success"%></a>
                <!-- <a><%#= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe,  admin_user_path(user.id), method: :delete,:class=>"btn btn-sm btn-danger", data: {confirm: 'Are you sure to delete this user?' }%></a> -->
              </div>  
            </td>
          </tr>                                
        </tbody>
        <%end%>
        <%end%>
      </table>
    </div>                     
  </div>
</div>

<div class="custom-pagination">
  <%= will_paginate @users %>
</div>

</div>
</div>
</div>
